work/binaries/
work/build/
work/client1/implem/default/C/wrappers
work/client1/implem/default/C/src/client1.h
work/client1/implem/default/client1.pro
work/datastore/implem/default/C/wrappers
work/datastore/implem/default/C/src/datastore.h
work/datastore/implem/default/datastore.pro
work/dataview/
work/Debug/
work/Dump/
work/glue_release
work/skeletons_built
work/system.asn
work/timeservice/implem/default/C/wrappers
work.system_post.asn
.vscode/
scripts/out.txt
taste.pro
*.pro.user
*.msc
*.aadl

timeservice.pro

work/Makefile
work/system_post.asn
work/timeservice/implem/default/C/Makefile
work/environment/environment.pro
work/environment/implem/default/environment.pro
work/timeservice/C/src/timeservice.h
work/timeservice/implem/default/C/src/timeservice.h
